{% extends 'core/layouts/navbar.html' %}
{% block main %}
{% load static %}

<div class="header-container">
    <div class="container">
        <h1 class="header-title">Repositorio Científico Digital</h1>
        <p class="header-subtitle">Accede a las tesis de ingeniería de la Universidad Nacional Experimental Politécnica de la Fuerza Armada Nacional (UNEFA)</p>
    </div>
</div>

<div class="container">
    <h2 class="recent-works-title">Trabajos Recientes</h2>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tesis in ultima_tesis_carrera %}
        <div class="col">
            <a class = "card-link"href="{% if tesis.id_tesis %}{% url 'tesis_detail' tesis.id_tesis %}{% else %}#{% endif %}" class="card-link">
                <div class="card card-animacion card-custom h-100">
                    {% if tesis.carrera == 'Ingeniería Electrónica' %}
                    <div class="card-header-tag ingenieria-electronica">{{ tesis.carrera }}</div>
                    {% elif tesis.carrera == 'Ingeniería Civil' %}
                    <div class="card-header-tag ingenieria-civil">{{ tesis.carrera }}</div>
                    {% elif tesis.carrera == 'Ingeniería Informática' %}
                    <div class="card-header-tag ingenieria-informatica">{{ tesis.carrera }}</div>
                    {% else %}
                    <div class="card-header-tag">{{ tesis.carrera }}</div>
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ tesis.titulo }}</h5>
                        <p class="card-text"><i class="bi bi-people-fill me-2"></i>{{ tesis.autores }}</p>
                        <p class="card-text card-text-last"><i class="bi bi-calendar-event me-2"></i>{{ tesis.fecha_publicacion|date:"d/m/Y" }}</p>
                        <span class="pdf-indicator">
                            <i class="bi bi-file-earmark-pdf-fill me-1"></i>PDF
                        </span>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No hay tesis disponibles en este momento.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}